# Data Exploration - Analyis of Longitude and Latitude of Countries

In [1]:
import pandas as pd

Source: https://developers.google.com/public-data/docs/canonical/countries_csv

In [2]:
df = pd.read_feather("../data/interim/countries-with-inflation-data.ftr")
df.head()

     Reference area
0          Slovenia
297         Estonia
594         Denmark
890         Belgium
1187     Luxembourg