# Data Cleaning for Longitude / Latidude of European Countries

In [7]:
import pandas as pd
from pathlib import Path

In [8]:
# read european country longitude / latitude data into a dataframe
european_countries = pd.read_feather("../data/interim/countries-with-inflation-data.ftr").rename(
    columns={"Reference area": "name"}
)

# make country names uniform
country_name_changes = {
    "Turkey": "TÃ¼rkiye",
    "Czech Republic": "Czechia",
    "Slovakia": "Slovak Republic",
}

all_countries = pd.read_csv("../data/external/countries_lat_long_google.csv")

for old_name, new_name in country_name_changes.items():
    all_countries["name"] = all_countries["name"].replace({old_name: new_name})

# perform inner join between long-lat data and list of relevant european countries
long_lat_df = pd.merge(european_countries, all_countries, on="name", how="inner")

In [9]:
long_lat_df.head()

         name country   latitude  longitude
0    Slovenia      SI  46.151241  14.995463
1     Estonia      EE  58.595272  25.013607
2     Denmark      DK  56.263920   9.501785
3     Belgium      BE  50.503887   4.469936
4  Luxembourg      LU  49.815273   6.129583

In [10]:
# write to feather file
Path("../data/interim/").mkdir(parents=True, exist_ok=True)
long_lat_df.to_feather("../data/interim/countries-with-long-lat-data.ftr")